---
import FormattedDate from "../FormattedDate/FormattedDate";
const params = Astro.props;
---

<div class="wrap">
  <div class="index-news-block">
    <div class="top-block flex">
      <div class="block-name">Новости</div>
      <a href="news">Все новости</a>
    </div>
    <div class="flex">
      {
        params.news.map((item, index) => {
          console.log(index);
          if (index === 0) {
            return (
              <div
                class="big-item"
                style={{
                  backgroundImage: `url('${import.meta.env.PUBLIC_URL}${
                    item.preview_image.url
                  }')`,
                }}
              >
                <div class="text">
                  <a href="#">
                    <div set:html={item.title}></div>
                  </a>
                  <div class="date">19 августа 2021, 7:06</div>
                </div>
              </div>
            );
          } else {
            let string = item.title;
            if (string.length > 60) {
              string = string.substring(0, 60) + "...";
            }

            const date = new Date(item.publishedAt);
            const timestamp = date.valueOf();
            const formattedDate = new Intl.DateTimeFormat("ru-RU", {
              month: "long",
              day: "numeric",
              hour: "numeric",
              minute: "numeric",
            }).format(timestamp);

            return (
              <div class="item other">
                <img
                  src={`${import.meta.env.PUBLIC_URL}${item.preview_image.url}`}
                  style=""
                />
                <div>{string}</div>
                <div class="date">{formattedDate}</div>
              </div>
            );
          }
        })
      }
    </div>
  </div>
</div>

<style>
  .wrap {
    margin: 0 auto;
    max-width: 1176px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 15px;
  }

  .flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .index-news-block {
    padding-bottom: 80px;
  }
  .index-news-block.inner .big-item {
    width: 100%;
    height: auto;
    padding-top: 48%;
  }
  .index-news-block.inner .item {
    width: 48.5%;
  }
  .index-news-block .top-block {
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 2.5rem;
    margin-bottom: 2.5rem;
  }
  .index-news-block .top-block .block-name {
    font-size: 1.875rem;
    line-height: 1.2;
    font-family: "Golos-UI Med";
  }
  .index-news-block .top-block a {
    color: #0f61d9;
    text-decoration: none;
    margin-top: 10px;
  }
  .index-news-block .top-block a:hover {
    text-decoration: underline;
  }
  .index-news-block .big-item {
    width: 66%;
    margin-bottom: 40px;
    position: relative;
  }
  .index-news-block .big-item:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(1, 1, 1, 0.3);
  }
  .index-news-block .big-item .text {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    padding: 1.875rem 1.875rem;
    z-index: 2;
  }
  .index-news-block .big-item .text a {
    display: block;
    text-decoration: none;
    color: #fff;
    margin-bottom: 1rem;
    font-family: "Golos-UI Med";
    font-size: 1.25rem;
  }
  .index-news-block .big-item .text a:hover {
    text-decoration: underline;
  }
  .index-news-block .item {
    width: 32%;
    margin-bottom: 40px;
  }

  .index-news-block .item img {
    height: 250px;
  }

  .index-news-block .item.other {
    padding-bottom: 60px;
  }
  .index-news-block .item img {
    width: 100%;
    margin-bottom: 1.5rem;
  }
  .index-news-block .item a {
    display: block;
    text-decoration: none;
    font-family: "Golos-UI Med";
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  .index-news-block .item a:hover {
    text-decoration: underline;
  }
  .index-news-block .item .date {
    color: #50555a;
  }
</style>
