---
import Page from "../../pages/news/[...page].astro";
import Slider from "./Carousel";
const params = Astro.props;
---
<script src="http://code.jquery.com/jquery-3.4.1.min.js" is:inline></script>
<script src="slick.min.js" is:inline></script>
<script src="bvi-init.js" is:inline></script>
<script src="bvi.js" is:inline></script>
<script src="bvi.min.js" is:inline></script>
<script src="common.js" is:inline></script>
<script src="counties.js" is:inline></script>
<script src="custom.js" is:inline></script>
<script src="jquery-ui-1.10.4.custom.min.js" is:inline></script>
<script src="jquery.spincrement.min.js" is:inline></script>
<script src="js.cookie.js" is:inline></script>
<script src="js.cookie.js" is:inline></script>
<script src="js.cookie.min.js" is:inline></script>
<script src="phonecode.js" is:inline></script>
<script src="responsivevoice.js" is:inline></script>
<script src="responsivevoice.min.js" is:inline></script>
<script src="slick.min.js" is:inline></script>


<div class="index-page-slider">
  {
    params.slider.map((item, index) => {
     
      return (
        <div class="item">
          <div
            class="image"
            style={{
              backgroundImage: `url('${import.meta.env.PUBLIC_URL}${item.image.url}')`,
            }}
          >
            <img 
            src="/Шанчы.jpg" />
          </div>
          <div class="wrap">
            <div class="text">
              <div class="name">
                {item.title}
              </div>
              <p>
                {item.title}
              </p>
              {item.content}
            </div>
          </div>
        </div>
      );
    })
  }
</div>

<Slider client:load />
